@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-primary: #8ED081;
  --color-primary-container: #4b4d42;
  --color-surface: #37392E;
  --color-on-surface: #f9f9f8;
  --color-surface-dim: #25261e;
  --color-surface-variant: #4b4d42;
  --color-on-surface-variant: #CBD6D2;
  --color-outline: #8ED081;
  --color-outline-variant: #5c5e53;
  --color-surface-container-low: #2a2c22;
  --color-surface-container-highest: #4b4d42;
  --color-tertiary-container: #b63f75;

  /* Alpine Brutalism: 0px border radius everywhere */
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
