@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-primary: #006108;
  --color-primary-container: #1c7c1b;
  --color-surface: #f9f9f8;
  --color-on-surface: #1a1c1c;
  --color-surface-dim: #dadad9;
  --color-surface-variant: #e2e2e2;
  --color-on-surface-variant: #404a3b;
  --color-outline: #707a6a;
  --color-outline-variant: #bfcab7;
  --color-surface-container-low: #f3f4f3;
  --color-surface-container-highest: #e2e2e2;
  --color-tertiary-container: #b63f75;

  /* Alpine Brutalism: 0px border radius everywhere */
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
